*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --myfont: sans-serif;
    --my-btn-font: sans-serif;
    --lg-lightcolor: linear-gradient(to left, rgba(235, 203, 116, 0.877), rgba(159, 172, 230, 0.5));
    --lg-color: linear-gradient(to left, #aeeb74, #9face6);
}

body{
    background: var(--lg-lightcolor);
    background-size: 100%;
    font-family: var(--myfont);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    width: calc(100vw - 65vw);
    max-width: 100%;
}

.header {
    background: var(--lg-color);
    padding: 30px 0;
    }

.header h2 {
    color: #222;
    font-family: var(--my-btn-font);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    }

.form{
    padding: 40px;
}

.form-control{
  margin-bottom: 30px;
  position: relative;
}

.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input:focus{
  outline: 0;
  border-color: #777;
}

.form-control.success input{
  border-color: greenyellow;
}

.form-control.error input{
  border-color: red;
}

.form-control i{
  position: absolute;
  right: 12px;
  top: 38px;
  visibility: hidden;
}

.form-control.success i.fa-circle-check{
  color: greenyellow;
  visibility: visible;
}

.form-control.error i.fa-circle-exclamation{
  color: red;
  visibility: visible;
}

.form-control small{
  color: red;
  position: absolute;
  left: 0;
  visibility: hidden;
}

.form-control.error small{
  visibility: visible;
}



.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

.form-control input[type="text"],
.form-control input[type='number'], 
.form-control input[type="password"],
.form-control input[type="email"]{
    padding: 10px 20px;
    width: 100%;
    font-size: 1rem;
    display: block;
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-color: #f0f0f0;
}